body {
  background-color: #000;
}

.btn-gray {
  background-color: rgb(51, 51, 51);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.calculator-button {
  border: none;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-size: 26px;
}
.clear-btn {
  flex: 1;
}
.btn-orange {
  background-color: rgb(254, 160, 10);
  color: white;
}

.clear-btn {
  font-size: 17px;
}

.result {
  color: white;
  font-size: 26px;
}

.result-input {
  width: 230px;
  padding: 12px 24px;
  margin-bottom: 16px;
  font-size: 24px;
  border: none;
  border-radius: 20px;
  text-align: right;
}
